ul {
  list-style-type: none;
  margin-right: 10px;
  padding-right: 10px;
  overflow: hidden;
  background-color: white;
}
li {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
}

h2 {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

body {
  margin: 0 50px;
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

a {
  padding: 14px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: orange;
  background-image: linear-gradient(48deg, salmon, tomato);
}

.top-banner {
  width: 45%;
  float: left;
  padding: 10px;
}

.bodysection {
  border: 10px;
  margin: 15px;
  padding: 20px;
  height: 400px;
}

.upperpic {
  margin-left: 50px;
}

h3 {
  text-transform: uppercase;
  font-size: 25px;
}

.latestsection {
  background-color: aliceblue;
  height: 450px;
  margin: 70px 10px;
  padding: 35px;
}

.innerdiv {
  border-radius: 10px;
  width: 28%;
  background-color: white;
  padding: 5px;
  margin: 10px;
  float: left;
}
.latestwork {
  padding-left: 25px;
}

.bottombanner {
  background-image: url("shapes/Group_33094_1.png");
  background-repeat: none;
  height: 400px;
}
